html{
    font-size: 100%;
}
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
h4{
    font-size: 1.5rem;
}
body{
    background-color: #02012b;
    height: 100vh;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 50px;
}
nav .select{
    position: relative;
}
nav .select span{
    position: absolute;
    color: white;
    font-size: 1rem;
    top: 0;
    transform: translateY(50%);
    left: 5px;

}
nav select{
    width: 55px;
    background-color: #26263d;
    border: none;
    color: white;
    border-radius: 8px;
    padding: 5px 0px 5px 20px;
    box-sizing: content-box;

}
main{
    padding-top:25px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
main h1{
    
    color: white;
}
main form{
    display: flex;
    align-items: center;
    gap: 10px;
}
main form .search{
    position: relative;
    width: 320px;
    background-color: #26263d;
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
    border-radius: 8px;
    padding-left: 20px;
}
main form .search span{
    position: absolute;
    color: white;
    z-index: 1;
    left: 5px;
    bottom: 50%;
    transform: translatex(50%);
    transform: translatey(50%);
    font-size: 1.5rem;
    cursor: default;
}

main form input{
    padding: 10px;
}
main form .search{
    width: 320px;
    background-color: #26263d;
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
    border-radius: 8px;
}
main form .submit{
    background-color: #4357de;
    border: none;
    outline: none;
    border-radius: 8px;
    color: white;
    font-weight: 600;
}
section{
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}
section .main-data{
    width:805px;
    display: inline-block;
}
section .main-data .place-degree{
background: linear-gradient( 90deg, #3737b8 40%, #5537b8 60%);
    border-radius: 8px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    color: white;
    position: relative;
}
section .main-data .place-degree img{
    position: absolute;
    width: 20px;
    height: 20px;
}
section .main-data .place-degree img.sunny{
    left: 30%;
    top: 35px;
}
section .main-data .place-degree img.weather{
    left: 52%;
    top: 38px;
}
section .main-data .place-degree img.sun{
    left: 78%;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
}
section .main-data .place-degree img.cloudy{
    left: 60%;
    top: 125px;
}
section .main-data .place-degree div{
    display: inline-block;
}
section .main-data .place-degree div h4{
    font-weight: 500;
}
section .main-data .place-degree div p{
    color: rgb(181, 178, 178);
    font-size: 14px;
}
section .main-data .place-degree p{
    font-size: 52px;
    font-weight: 600;
}
section .main-data .details-container{
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}
section .main-data .details{
    display: inline-flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    background-color: #242440;
    color: white;
    border-radius: 8px;
    border: #32314f 0.5px solid;
    width: 120px;
    flex-basis: 120px;
}
section .main-data .details p:nth-child(2){
    font-size: 1.2rem;
}

section .main-data h4{
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
}

section .main-data .daily-forces-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
}
section .main-data .daily-forces-container .details{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 80px;
    background-color: #252540;
    padding: 10px;
    border: #32314f 0.5px solid;
    border-radius: 8px;
    flex-basis: 80px;

}
section .main-data .daily-forces-container .details div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
section .side-data{
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: scroll;
    scrollbar-width: 5px;
    width: 250px;
    height: 470px;
    background-color: #242440;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 10px;
    gap: 15px;
}
section .side-data::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
section .side-data::-webkit-scrollbar-thumb{
    background-color: #32314f;
}
section .side-data::-webkit-scrollbar-track{
    border-radius: 8px;
}
section .side-data .main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section .side-data .main h4{
    font-size: 14px;
    color: white;
}
section .side-data .main select{
    background-color: #3a3859;
    border: none;
    color: white;
    border-radius: 8px;
    padding: 5px;
    box-sizing: content-box;
}
section .side-data .data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #2f2f4a;
    padding: 5px;
    border-radius: 8px;
}
